PORT=8080
JWT_PRIVATE_KEY=ecommerce
JWT_EXPIRE_TIME=1d
MYSQL_HOST=bw5deabo52lgufh90ka8-mysql.services.clever-cloud.com
MYSQL_PORT=3306
MYSQL_USER=ublvor5k0tsxrb8i
MYSQL_PASSWORD=acC770FOBjzzsrGj2Te9
MYSQL_DB=bw5deabo52lgufh90ka8
MYSQL_CLIENT=mysql2
AWS_BUCKET_NAME=ecommerce-store-cnb
AWS_BUCKET_REGION=ap-southeast-1
AWS_ACCESS_KEY=AKIA5ZDYS7SXF3N7SY2Y
AWS_SECRET_ACCESS_KEY=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
SETCRET_KEY_RECAPCHA=6LdCoVohAAAAAIA7jix9yoVyC42IYZW335u7E4pn
GOOGLE_CLIENT_ID=981857632593-kmccm4bm4m4vkt98v1huegm85rnab327.apps.googleusercontent.com
TWILIO_ACCOUNT_SID=AC1502b9c492e3b2b9bd88f4c276214721
TWILIO_AUTH_TOKEN=aa010bb3c09dbf111349fa65f0552a35
TWILIO_SERVICES_SID=VA067353d57a9487621f8e9b1838dde51d